<footer id="contact" class=" iq-over-dark-90">

<!-- Address -->
<div class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6 ">
                <div class="widget">
                    <div class="textwidget ">
                        <p>
                        <span style="font-weight: 800;">
                           <span>C<span class="text-info">E</span>TA</span>
                            </span>
                        
                            <br> 
                            Transforming Ideas into Innovation, Elevating Excellence in Technology Solutions.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6 mt-4 mt-lg-0 mt-md-0 ">
                <div class="widget">
                    <h4 class="footer-title">Menu</h4>
                    <div>
                        <ul class="menu">
                            <li><a href="/" aria-current="page">Home</a></li>
                            <li><a href="/about">About Us</a></li>
                            <li><a href="/services">Service</a></li>
                            <li><a href="/contact">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        
            <div class="col-lg-4 col-md-6 col-sm-6 mt-lg-0 mt-4">
                <div class="widget">
                    <h4 class="footer-title ">Contact Us</h4>
                    <div class="row">
                        <div class="col-sm-12">
                            <ul class="iq-contact">
                                <li>
                                    <a><i class="fa fa-home"></i><span>Tarkwa, Kumasi</span></a>
                                </li>
                                <li>
                                    <a href="mailto:support@iqnonicthemes.com"><i class="fa fa-envelope"></i><span>info@cetagh.com</span></a>
                                </li>
                                <li>
                                    <a href="tel:+233598619122">
                                        <i class="fa fa-phone"></i>
                                        <span>+233 598 619 122</span>
                                    </a> /
                                    <a href="tel:+233598619148">
                                        <span>+233 598 619 148</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Address END -->
<div class="copyright-footer">
    <div class="container">
        <div class="pt-3 pb-3">
            <div class="row justify-content-between">
                <div class="col-lg-6 col-md-12 text-lg-left text-md-center text-center">
                    <div class="social-icone">
                        <ul>
                            <li class="d-inline"><a href="javascript:void(0)"><i class="fa fa-twitter"></i></a></li>
                            <li class="d-inline"><a href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                            <li class="d-inline"><a href="javascript:void(0)"><i class="fa fa-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 text-lg-right text-md-center text-center">
                    <span class="copyright">Copyright <span id="copyright"> 
<script>document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))</script>
</span> C<span class="text-info">E</span>TA all Rights Reserved.</span>
                </div>
            </div>
        </div>
    </div>
</div>
</footer>
<!-- Footer End -->
<!-- back-to-top -->
<div id="back-to-top">
<a class="top" id="top" href="#top"> <i class="ion-ios-arrow-up"></i> </a>
</div>
<!-- back-to-top End -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery-3.4.1.js"></script>
<!-- jQuery  for scroll me js -->
<script src='/js/jquery-min.js'></script>
<!-- popper  -->
<script src="/js/popper.min.js"></script>
<!--  bootstrap -->
<script src="/js/bootstrap.min.js"></script>
<!-- Appear JavaScript -->
<script src="/js/appear.js"></script>
<!-- Jquery-migrate JavaScript -->
<script src='/js/jquery-migrate.min.js'></script>
<!-- Scripts JavaScript -->
<script src='/js/scripts.js'></script>
<!-- countdownTimer JavaScript -->
<script src='/js/jQuery.countdownTimer.min.js'></script>
<!-- Tox-progress JavaScript -->
<script src='/js/tox-progress.min.js'></script>
<!-- Timeline JavaScript -->
<script src='/js/timeline.js'></script>
<!-- Timeline min JavaScript -->
<script src='/js/timeline.min.js'></script>
<!-- Slick JavaScript -->
<script src='/js/slick.min.js'></script>
<!-- Popper JavaScript -->
<script src='/js/popper.min.js'></script>
<!-- Owl.carousel JavaScript -->
<script src='/js/owl.carousel.min.js'></script>
<!-- Countdown JavaScript -->
<script src='/js/countdown.js'></script>
<!-- Jquery.countTo JavaScript -->
<script src='/js/jquery.countTo.js'></script>
<!-- Magnific-popup JavaScript -->
<script src='/js/jquery.magnific-popup.min.js'></script>
<!-- Isotope.pkgd.min JavaScript -->
<script src='/js/isotope.pkgd.min.js'></script>
<!-- Wow JavaScript -->
<script src='/js/wow.min.js'></script>
<!--  Custom JavaScript -->
<script src="/js/custom.js"></script>
<!-- REVOLUTION JS FILES -->
<script src="/revslider/js/revolution.tools.min.js"></script>
<script src="/revslider/js/rs6.min.js"></script>
<script>
var revapi2,
    tpj;
jQuery(function() {
    tpj = jQuery;
    if (tpj("#rev_slider_2_1").revolution == undefined) {
        revslider_showDoubleJqueryError("#rev_slider_2_1");
    } else {
        revapi2 = tpj("#rev_slider_2_1").show().revolution({
            jsFileLocation: "js/",
            sliderLayout: "fullwidth",
            visibilityLevels: "1240,1024,778,480",
            gridwidth: "1440,1024,778,480",
            gridheight: "789,600,700,650",
            spinner: "spinner0",
            editorheight: "789,600,700,650",
            responsiveLevels: "1240,1024,778,480",
            disableProgressBar: "on",
            navigation: {
                onHoverStop: false
            },
            parallax: {
                levels: [5, 10, 15, 20, 25, 30, 35, 40, 45, 46, 47, 48, 49, 50, 51, 30],
                type: "mouse",
                origo: "slidercenter",
                speed: 0
            },
            fallbacks: {
                allowHTML5AutoPlayOnAndroid: true
            },
        });
    }

});
</script>
</body>

</html>