<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CETA</title>
    <!-- Favicon -->
    <!-- <link rel="shortcut icon" href="images/favicon.ico" /> -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="/revslider/css/rs6.css">
    <!-- Typography CSS -->
    <link rel="stylesheet" href="/css/typography.css">
    <!-- Style CSS -->
    <link rel='stylesheet' href='/css/qloud-style.css' />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="/css/responsive.css">
</head>

<body>
    <!-- loading -->
    <div id="loading">
        <div id="loading-center">
            <div class="load-img">
                <img src="/images/loader.gif" alt="loader">
            </div>
        </div>
    </div>
    <!-- loading End -->
   
    <!-- Header -->
    <header id="main-header" class="header-main header2">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/">
                        <span style="font-weight: 800;" style="">
                           <span>C<span class="text-primary">E</span>TA</span> 
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu-btn d-inline-block" id="menu-btn">
                        <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                            </span>
                            <span class="ion-navicon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mr-auto w-100 justify-content-end">

                            <li class="nav-item">
                            <a class="nav-link" id="home-page" aria-current="page" href="/">Home</a>
                            </li>
                            
                            <li class="nav-item">
                            <a class="nav-link" href="/about">About</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="/services">Services</a>
                             </li>

                             <li class="nav-item">
                                <a class="nav-link" href="/products">Products</a>
                             </li>

                                <!-- <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarDropdown-1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                 Services
                              </a>
                                    <div class="dropdown-menu" aria-labelledby="navbarDropdown-1">
                                        <a class="dropdown-item" href="about-us-1.html">About Us 1</a>
                                        <a class="dropdown-item" href="about-us-2.html"> About Us 2</a>
                                    </div>
                                </li> -->

                               <li class="nav-item">
                                <a class="nav-link contact-page" href="/contact">Contact</a>
                                </li>

                            </ul>
                        </div>

                    </nav>
                </div>
            </div>
        </div>
    </header>