<%- include('./layouts/header2'); %>


    <!-- Breadcrumb Start -->
    <div class=" main-bg">
        <div class="container-fluid p-0">
            <div class="text-left iq-breadcrumb-one
               iq-bg-over black     ">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-sm-12">
                            <nav aria-label="breadcrumb" class="text-center iq-breadcrumb-two">
                                <h2 class="title">Services</h2>
                                <ol class="breadcrumb main-bg">
                                    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home mr-2"></i>Home</a></li>
                                    <li class="breadcrumb-item "> Services</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Breadcrumb End -->

    <!-- Services -->
    <section class="iq-pb-55">
        <div class="container">

        <div class="text-center iq-title-box iq-title-default iq-title-box-2">
                        <div class="iq-title-icon">
                        </div>
                        <span class="iq-subtitle">Our services</span>
                    </div>

            <div class="row">
                <div class="col-lg-4">
                        <div class="item">
                            <div class="iq-blog-box">
                                <div class="iq-blog-image clearfix">
                                    <img src="/images/services/software_solutions.png" class="img-fluid" alt="uog">

                                </div>
                                <div class="iq-blog-detail">

                                    <div class="blog-title">
                                            <h5 class="mb-3">Software Solutions</h5>
                                    </div>
                                    <p class="">
                                        Welcome to CETA, where innovation meets collaboration. In partnership with 
                                        Kursobyte Softwares, we're dedicated to developing cutting-edge software
                                         solutions tailored to diverse industries. From our Dental Clinic Management
                                          System to the EasySales App and SmartED School Management System,
                                           our aim is to streamline operations and enhance customer connections. 
                                           Join us in revolutionizing business interactions and fostering 
                                           stronger community ties.
                                        </p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-lg-4">
                        <div class="item">
                            <div class="iq-blog-box">
                                <div class="iq-blog-image clearfix">
                                    <img src="/images/services/talent.png" class="img-fluid" alt="og">

                                </div>
                                <div class="iq-blog-detail">
                                    <div class="blog-title">
                                            <h5 class="mb-3">Talent-Work Nexus</h5>
                                    </div>
                                    <p class="">
                                        At CETA, our Talent-Work Nexus Programme pioneers a unique approach
                                         to software development and education. We identify and recruit
                                          talented individuals, pairing them with seasoned professionals 
                                          for immersive training. Beyond Ghana, we train programmers for 
                                          tech companies across regions. Moreover, we collaborate to augment, 
                                          promote, and monetize talents through technology, empowering
                                           individuals to thrive in the digital era.
                                    </p>
                                    <ul>
                                        <li><b>Registration Fee:</b> Ghc 300.00</li>
                                        <li><b>Subscription Fee:</b> Ghc3,600</li>
                                        <li><b>Programme Duration:</b> 3 months (with extra 3 months free mentorship)</li>
                                    </ul>
                            
                                </div>
                            </div>
                        </div>
                    </div>

                        
                        <div class="col-lg-4">
                        <div class="item">
                            <div class="iq-blog-box">
                                <div class="iq-blog-image clearfix">
                                    <img src="/images/services/Junior.png" class="img-fluid" alt="un">
                                </div>
                                <div class="iq-blog-detail">
                             
                                    <div class="blog-title">
                                            <h5 class="mb-3">Junior Coders Program</h5>
                                    </div>
                                    <p class="">
                                        On weekends, our Junior Coders Program connects with young minds aged 8 to 12.
                                         We use inquiry-based learning approach to foster a passion for technology 
                                         through coding projects. Our three-month program offers a holistic educational 
                                         experience and emphasises creativity and problem-solving, with renewal 
                                         options for continued growth. Our primary focus lies in cultivating coding 
                                         skills development and providing extensive tech exposure for kids.
                                    </p>
                                    <ul>
                                        <li><b>Registration Fee:</b> Ghc 300.00</li>
                                        <li><b>Subscription Fee:</b> Ghc1,200 .00</li>
                                        <li><b>Programme Duration:</b> 3 months (subject to renewal)</li>
                                    </ul>
                                
                                </div>
                            </div>
                        </div>
                    </div>
        

            </div>


        </div>
    </section>
    <!-- services End -->


    <%- include('./layouts/footer'); %>


    <script>
       window.onload = function(){
        document.querySelector("#services-page").classList.add("active");
        document.title = "CETA | Services"
       }

    </script>